
{% extends 'base.html' %}
{% block title%}
Login Page
{% endblock title %}

{% block content%}

    {% if error_msg%}
    <div class="alert alert-danger mt-2" role="alert">
        <h5> {{error_msg}}</h5>
    </div>
    {% endif %}

    {% if msg%}
    <div class="alert alert-secondary mt-2" role="alert">
        <h5> {{msg}}</h5>
    </div>
    {% endif %}

    <div class="container mt-4">
        <div class="card">
            <form action="{% url 'login' %}" method="POST">
                {% csrf_token %}
                {{form.as_p}}
                <input type="submit" class="btn btn-primary" value='login'>
            </form>
        </div>
        Not registered yet?<a href="{% url 'register' %} ">Click Here</a>
    </div>

{% endblock content %}

 

</body>
</html>